/* Website template by freewebsitetemplates.com */
html {
  scroll-behavior: smooth;
  background-color: #ff8696;
}
/*
.scroll-it img{
	height: 130px;
	position: fixed;
	right: 10px;
	padding-top: 10px;
	width: 30px;
	z-index: 1000;
}
*/
body {
	color: #ab967f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	min-width: 960px;
	padding: 0;
	overflow-x: hidden;
} 

body::-webkit-scrollbar {
	display: none;
	overflow-x: hidden;
}
/*
::-webkit-scrollbar {
	width: 12px;
	background-color: transparent;
	min-height: 450px;
}

::-webkit-scrollbar-track {
  	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #ffae42;
   -moz-box-shadow:    inset 0 0 5px #ff781f;
   -webkit-box-shadow: inset 0 0 5px #ff8b3b;
   box-shadow:         inset 0 0 5px #ff781f;
}
 
::-webkit-scrollbar-thumb {
 border-radius: 10px;
	background-color: pink;
}

::-webkit-scrollbar-thumb:hover {
   
}
*/
@font-face {
   font-family: myFirstFont;
   src: url(georgia.woff);
}

#footer {
   font-family: myFirstFont;
}

a {
	outline: none;
}
img {
	border: 0;
}
p a {
	color: #ab967f;
}
p a:hover {
	color: #ff8400;
}
#header {
	position: relative;
	background: #cbf7c7;
	font-family: dosis;
}

#logo img{
	height: 90px;
	float: left;
	padding-top: 20px;
	padding-left: 40px;
}

#header div.section {
	background: none;
	margin: 0 auto;
	overflow: hidden;
	width: 1000px;
}
#header div.section a {
	display: inline-block;
	float: right;
}
#header div.section a {
	margin: 21px 0 0;
}
#header div.section ul {
	float: left;
	list-style: none;
	margin: 44px 0 0;
	padding-top: 13px;
}
#header div.section ul li {
	float: left;
	font-family: cursive;
	font-size: 80px;
}
#header div.section ul li.current a {
	background: url(interface.png) no-repeat 0 -521px;
	color: white;
	text-shadow: 0 3px #654321;
}
#header div.section ul li a {
	display: block;
	color: #654321;
	float: none;
	font-size: 16px;
	height: 49px;
	line-height: 49px;
	margin: 0;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	width: 130px;
}

.connect {
	padding-top: 50px;
	position: fixed;
	z-index: 5;
}

.connect a {
	float: left;
	padding-left: 20px;
}

.connect a.twitter {
	top: 10px;
}

.connect a.twitter img{
	border-radius: 10px;
	height: 45px;
}

.connect a.twitter img:hover {
	border-radius: 30px;
}

.connect a.facebook {

}

.connect a.facebook img{
	border-radius: 10px;
	height: 45px;
}

.connect a.facebook img:hover {
	border-radius: 30px;
}

.connect a.googleplus {
	padding-top: 80px;
}

.connect a.googleplus img{
	border-radius: 10px;
	height: 45px;
}

.connect a.googleplus img:hover {
	border-radius: 30px;
}

.connect a.github {
}

.connect a.github img{
	border-radius: 10px;
	height: 45px;
}

.connect a.github img:hover {
	border-radius: 30px;
}

.connect a.linkedin {
}

.connect a.linkedin img{
	border-radius: 10px;
	height: 45px;
}

.connect a.linkedin img:hover {
	border-radius: 30px;
}

#header div#figure {
	background: url() no-repeat center; /*Greenhouse pic*/
	height: 205px;
	margin: 0;
	padding: 0 0 35px;
	position: relative;
	width: auto;
	z-index: 2;
}
#header div#figure div {
	height: 462px;
	margin: 0 auto;
	position: relative;
	width: 960px;
}
#header div#figure div div {
	height: auto;
	margin: 0;
	position: absolute;
	right: 0;
	top: 310px;
	width: 300px;
	z-index: 2;
}
#header div#figure div span {
	background: url(interface.png) no-repeat 0 -585px;
	bottom: 0;
	display: block;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	position: static;
	top: 0;
	width: 290px;
}
#header div#figure div span a {
	color: #1f1005;
	display: block;
	float: none;
	font-size: 25px;
	margin: 0;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px #ffc600;
	text-transform: lowercase;
}
#header div#figure div ul {
	float: none;
	list-style: none;
	margin: 25px 10px 0 0;
	padding: 0 40px 0 20px;
}
#header div#figure div ul li {
	background:url(interface.png) no-repeat 220px 12px;
	display: block;
	float: none;
	margin: 10px 0;
	padding: 0 10 0 0;
	text-align: right;
	text-indent: 48px;
	width: 210px;
}
#header div#figure div ul li a {
	color: #b4b4b4;
	font-size: 14px;
	height: auto;
	line-height: 18px;
	text-decoration: none;
	text-transform: none;
	width: auto;
}
#header div#figure div ul li.current,
#header div#figure div ul li:hover {
	background:url(interface.png) no-repeat 220px -46px;
}
#header div#figure div ul li a:hover {
	color: #8aa80e;
	text-shadow: none;
}

#header div#subscribenow a {
	background: url(interface.png) no-repeat 0 -650px;
	top: 15px;
	color: #1f1005;
	display: block;
	font-size: 25px;
	height: 154px;
	line-height: 240px;
	position: absolute;
	right: -4px;
	text-decoration: none;
	text-indent: 60px;
	text-shadow: 0 1px #ffc600;
	text-transform: lowercase;
	width: 294px;
	z-index: 2;
}
#header span img{
	bottom: -70px;
	height: auto;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 4;
}

#tree {
	left: 750px;
	bottom: -50px;
	position: absolute;
	width: 100%;
	z-index: 3;
}

#tree img {
	height: 1030px;
}
/*
#greenhouse-pic {
	transform: rotate(-5deg);
	top: 150px;	
	z-index: 3;
}*/

@import url('https://fonts.googleapis.com/css?family=Kanit:900');

#header h1 {
	text-align: center;
	padding-top: 100px;
	bottom: -80px;
	padding-right: 250px;
	font-size: 50px;
	font-family: fantasy;
	font-weight: bolder;
	color: #ffdbe9;
  	text-shadow:  0 0 0 #654321, 4px 4px #654321, 40px 33px 8px #c4b59d;
  	letter-spacing: 2px;
	transition: 0.3s;
	transform: translate(-01%, -01%);
	z-index: 6;
}

#header h1:hover {
  	transition: 0.3s;
	transform: scale(1)translate(-01%, -01%);
	text-shadow: 1px -1px 0 #654321, 1px -2px 0 #654321, 1px -3px 0 #654321,
    1px -4px 0 #654321, 1px -5px 4px #654321;
    font-weight: bolder;
    color: #ffc0cb;
    z-index: 6;
}

#body {
	background: url(bg-soil.jpg);
	overflow: hidden;
}
#body div {
	background: url(shadowbottom.png) repeat-x left bottom;
	width: 100%;
}
#body div div {
	background: none;
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	position: relative;
	z-index: 2;
	width: 960px;
}
#body div div div {
	display: inline-block;
	margin: 0;
	width: 960px;
	display: flex;
}

#body div div div div#content {
	float: left;
	margin: 0;
	position: static;
	width: 1120px;
}

#body div div div div#content: hover {
	transform: scale(1,2);
}

#body div div div div#content h2 {
	background: url(interface.png) no-repeat 0 -416px;
	color: #1f1005;
	font-size: 25px;
	font-style: italic;
	height: 90px;
	left: -90px;
	line-height: 118px;
	margin: 0;
	position: absolute;
	text-align: center;
	text-shadow: 0 1px #ffc600;
	top: -60px;
	width: 162px;
	z-index: 3;
}
#body div div div div#content div {
	background: url(bg-content.png) repeat;
	border-radius: 15px;
	height: auto;
	letter-spacing: 0.05em;
	margin: 0 30px 0 10px;
	padding: 25px 20px 25px 20px;
	width: 480px;
	left: -80px;

}
#body div div div div#content div p {
	line-height: 24px;
	margin: 0;
	padding: 40px 0 0;
	font-size: 18px;
}

#body div div div div#content1 {
	float: left;
	margin: 0;
	position: static;
	width: 620px;
}
#body div div div div#content1 h2 {
	background: url(interface.png) no-repeat 0 -416px;
	color: #1f1005;
	font-size: 25px;
	font-style: italic;
	height: 90px;
	left: 470px;
	line-height: 118px;
	margin: 0;
	position: absolute;
	text-align: center;
	text-shadow: 0 1px #ffc600;
	top: -60px;
	width: 162px;
	z-index: 3;
}
#body div div div div#content1 div {
	background: url(bg-content.png) repeat;
	border-radius: 15px;
	height: auto;
	letter-spacing: 0.05em;
	margin: 0 0 0 10px;
	padding: 25px 20px 25px 20px;
	width: 500px;
	left: -70px;
}
#body div div div div#content1 div p {
	line-height: 24px;
	margin: 0;
	padding: 40px 0 0;
	font-size: 18px;
}

#triangle-partition {
	width: 0;
	height: 0;
	border-top: 0 solid transparent;
	border-right: 1512px solid #415a74;
	border-bottom: 120px solid transparent;
	background: #ff8696;
}

#container3 {
  display: flex;
  width: 100%;
  padding: 4% 2% 3% 2%;
  box-sizing: border-box;
  height: 100vh;
  background: #415a74;
}

.front {
    padding-left: 150px;
}

.box {
  flex: 1;
  transform: skew(-5deg);
  overflow: hidden;
  transition: 1s;
  margin: 0 1% 2% 1%;
  box-shadow: 0 15px 15px rgba(0,0,0,0.1), -15px -15px rgba(0,0,0,0.1);
  line-height: 0;
}

#box5 {
  margin-right: 70px;  
}

.box > img {
  width: 150%;
  height: calc(100%);
  object-fit: cover; 
  transition: 1s;
  filter: grayscale(100%);
}

.box > span {
      color: white;
      background: rgba(116, 91, 65, 0.8);
      padding: 0.5em;
      transform: rotate(-90deg);
      transform-origin: 0% 0%;
      transition: all 0.5s ease-in-out;
      min-width: 100%;
      text-align: center;
      position: absolute;
      bottom: 29px;
      left: 0;
      padding: 20px;
      font-size: 1em;
      white-space: nowrap;
}

#span1 {
    left: 100px;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
  filter: grayscale(0);
}
.box:hover > span {
        text-align: center;
        top: calc(100.75% - 2em);
        color: white;
        background: rgba(116, 91, 65, 1);
        font-size: 2em;
        transform: rotate(0deg) skew(-5deg);
}

#sensor-name > span {

	  transform: skew(-5deg);
	  line-height: 0;
	  font-family: monospace;
      color: white;
      padding: 0.5em;
      transform: rotate(-85deg);
      transform-origin: 0% 0%;
      text-align: center;
      position: absolute;
      left: 140px;
      margin-top: 190px;
      padding: 20px 48px;
      font-size: 20px;
      opacity: 0.8;
      white-space: nowrap;
}

#interface1 {
	background-color: #415a74;
	position: relative;
	width: 100%;
	height: 150px;
}

.wrapper {
	background-color: #ff8696;
}

.main-para {
	padding-bottom: 20px;
	font-size: 20px;
	text-align: center;
	background-color: #ff8696;
}

.paraline {
	font-size: 30px;
	color: #ff5f74;
	font-family: inherit;
}

.para h5 {
    background:  ;
    z-index: 1;
    position: relative;
    display: inline-block;
	text-align: center;
    font: 200 450%/130% 'Open Sans';
    padding: 0 3% 40px 8%;
    margin: 2% 0;
    text-transform: uppercase;
    color: #ff2440;
    letter-spacing: .15em;
  	font-family: fantasy;
  	font-size: 90px;
  	color: #ffe7dd;
  	text-shadow: 10px 10px 1px #ff5f74;
  	letter-spacing: 5px;
   /* -webkit-text-shadow: #C0C0C0 -1px 1px 0,#C2C2C2 -2px 2px 0,#C3C3C3 -3px 3px 0,#C5C5C5 -4px 4px 0,#C6C6C6 -5px 5px 0,#C8C8C8 -6px 6px 0,#C9C9C9 -7px 7px 0,#CBCBCB -8px 8px 0,#CCC -9px 9px 0,#CECECE -10px 10px 0,#CFCFCF -11px 11px 0,#D1D1D1 -12px 12px 0,#D2D2D2 -13px 13px 0,#D4D4D4 -14px 14px 0,#D5D5D5 -15px 15px 0,#D7D7D7 -16px 16px 0,#D8D8D8 -17px 17px 0,#DADADA -18px 18px 0,#DBDBDB -19px 19px 0,#DDD -20px 20px 0,#DFDFDF -21px 21px 0,#E0E0E0 -22px 22px 0,#E2E2E2 -23px 23px 0,#E3E3E3 -24px 24px 0,#E5E5E5 -25px 25px 0,#E6E6E6 -26px 26px 0,#E8E8E8 -27px 27px 0,#E9E9E9 -28px 28px 0,#EBEBEB -29px 29px 0,#ECECEC -30px 30px 0,#EEE -31px 31px 0,#EFEFEF -32px 32px 0,#F1F1F1 -33px 33px 0,#F2F2F2 -34px 34px 0,#F4F4F4 -35px 35px 0,#F5F5F5 -36px 36px 0,#F7F7F7 -37px 37px 0,#F8F8F8 -38px 38px 0,#FAFAFA -39px 39px 0,#FBFBFB -40px 40px 0,#FDFDFD -41px 41px 0,#FFF -42px 42px 0;
    text-shadow: #C0C0C0 -1px 1px 0,#C2C2C2 -2px 2px 0,#C3C3C3 -3px 3px 0,#C5C5C5 -4px 4px 0,#C6C6C6 -5px 5px 0,#C8C8C8 -6px 6px 0,#C9C9C9 -7px 7px 0,#CBCBCB -8px 8px 0,#CCC -9px 9px 0,#CECECE -10px 10px 0,#CFCFCF -11px 11px 0,#D1D1D1 -12px 12px 0,#D2D2D2 -13px 13px 0,#D4D4D4 -14px 14px 0,#D5D5D5 -15px 15px 0,#D7D7D7 -16px 16px 0,#D8D8D8 -17px 17px 0,#DADADA -18px 18px 0,#DBDBDB -19px 19px 0,#DDD -20px 20px 0,#DFDFDF -21px 21px 0,#E0E0E0 -22px 22px 0,#E2E2E2 -23px 23px 0,#E3E3E3 -24px 24px 0,#E5E5E5 -25px 25px 0,#E6E6E6 -26px 26px 0,#E8E8E8 -27px 27px 0,#E9E9E9 -28px 28px 0,#EBEBEB -29px 29px 0,#ECECEC -30px 30px 0,#EEE -31px 31px 0,#EFEFEF -32px 32px 0,#F1F1F1 -33px 33px 0,#F2F2F2 -34px 34px 0,#F4F4F4 -35px 35px 0,#F5F5F5 -36px 36px 0,#F7F7F7 -37px 37px 0,#F8F8F8 -38px 38px 0,#FAFAFA -39px 39px 0,#FBFBFB -40px 40px 0,#FDFDFD -41px 41px 0,#FFF -42px 42px 0;
	*/
}

.main-hex {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 120px;
	background-color: #ff8696;
}

.hexagon-wrapper {
  margin: auto;
  display: flex;
  text-align: initial;
  width: 200px;
  height: 200px;
  cursor: pointer;
  padding-bottom: 10px;
}

.value {
	color: #654321;
	z-index: 10;
	padding-top: 60px;
	text-align: center;
	font-size: 15px;
	font-family: cursive;
	font-weight: bolder;
}

.value:hover,.hexagon:hover {
	z-index: 10;
}

.hexagon {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: brown;
  background: linear-gradient(-180deg, #269e26, #32CD32);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.5s;
}

.hexagon:before,
.hexagon:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.5s;
  transform-origin: center;
}
.hexagon:before {
  transform: rotateZ(60deg);
}
.hexagon:after {
  transform: rotateZ(-60deg);
}
.hexagon:hover {
  border-radius: 50px;
  transition: 0.5s;
}
.hexagon:hover:before {
  border-radius: 50px;
  transition: 0.5s;
}
.hexagon:hover:after {
  border-radius: 50px;
  transition: 0.5s;
}

#footer {
	background: #4d351f;
}
#footer div:first-child {
	background: none;
	height: 90px;
	margin: 0 auto;
	position: relative;
	width: 960px;
}
#footer div:first-child div div:first-child {
	float: left;
	width: 630px;
}
#footer div:first-child div div:first-child ul {
	display: inline-block;
	list-style: none;
	margin: -35px 0 0;
	padding: 0;
	width: 650px;
}
#footer div:first-child div div:first-child ul li {
	background: url(interface.png) no-repeat 0-819px;
	float: left;
	height: 122px;
	margin: 0 0 0 5px;
	position: relative;
	width: 320px;
}


#footer div:first-child div div {
	background: none;
	float: right;
	width: 300px;
}
#footer div:first-child div div div.section {
	float: none;
	margin: 0;
	padding: 0 0 0 10px;
	width: 260px;
}
#footer div:first-child div div:first-child div.section {
	margin: 0; 
	width: auto;
}

#footer div:first-child div div div.section span {
	background: url(interface.png) no-repeat 0 -116px;
	display: block;
	height: 100px;
	left: -60px;
	top: -100px;
	position: absolute;
	right: 0;
	width: 366px;
}

#footer div {
	background: #3c2714;
	min-height: 40px;
	width: 100%;
}

#decor {
	height: 0;
}

#decor img {
	bottom: 3.3px;
	position: relative;
	width: 100%;
}

#wrapper1 {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}
.saying_block {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: block;
}
article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
html,
body {
  width: 100%;
  height: 100%;
}
.saying_block .saying_content {
  width: 100%;
  height: 100%;
  text-align: right;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.saying_block .saying_content {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}
.saying_block .saying_content .text_box h2 {
  font-weight: normal;
  font-size: 42px;
  line-height: 50px;
  font-family: "Bitter", serif;
  font-style: italic;
  letter-spacing: 1px;
}
.text_box h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
.saying_block .saying_content .text_box h3 {
  font-size: 15px;
  letter-spacing: 15px;
  font-weight: normal;
  padding: 30px 0 20px 0;
}
.saying_block .saying_content .text_box p {
  font-size: 12px;
  letter-spacing: 2px;
  padding: 20px 0 20px 0;
  opacity: 0.7;
}
.text_box p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.saying_block.shub {
  background-image: url(Shub1.png);
}
.saying_block.shub .saying_content {
  /* background-color: rgba(223, 168, 0, 0.7); */
  background-color: rgba(0, 159, 153, 0.5);
}
.saying_block.ash {
  background-image: url(Ash1.jpg);
}
.saying_block.ash .saying_content {
  background-color: rgba(210, 24, 76, 0.7);
}
.saying_block.kartik {
  background-image: url(kartik1.png);
}
.saying_block.kartik .saying_content {
  /*background-color: rgba(16, 36, 55, 0.7);*/
  background-color: rgba(210, 24, 76, 0.5);
}

.footnote {
	background-color: #654321;
	color: #1c1106;
	font-size: 12px;
	line-height: 40px;
	margin: 0 auto;
	text-align: center;
	text-shadow: 0 1px #6c5037;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: white;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}
